<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>New Team Details</h1>
  <p><b>Team Name</b>: <%= @name %></p>
  <p><b>Coach</b>: <%= @coach %></p>
  <p><b>Point Guard</b>: <%= @pg %></p>
  <p><b>Shooting Guard</b>: <%= @sg %></p>
  <p><b>Power Forward</b>: <%= @pf %></p>
  <p><b>Small Forward</b>: <%= @sf %></p>
  <p><b>Center</b>: <%= @c %></p>

 </body>
</html>