<%= form_for(@post) do |f| %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :content %><br>
  <%= f.text_area :content %>
</p>

<p>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
  <p>
    <%= b.label %>
    <%= b.check_box %>
  </p>
  <% end %>
</p>

<%= f.fields_for :categories do |c| %>
<%= c.text_field :name %>
<% end %>

<%= f.submit %>
<% end %>