<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />

  <%= fields_for :artist do |artist_f| %>
    <%= artist_f.label :artist %>
    <%= artist_f.text_field :name %>
    <br />
  <% end %>

  <%= f.submit %>
<% end %>
