<h1>Songs</h1>

<div><%= link_to 'Create Song', new_song_path %></div>
<br />

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Artist name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.release_year %></td>
      <td><%= song.genre %></td>
      <td><%= song.artist_name %></td>
      <td>
        <%= link_to 'View', song %> |
        <%= link_to 'Edit', edit_song_path(song) %> |
        <%= link_to 'Delete', song, method: :delete, data: { confirm: 'For real?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%# Copied this from the solution; my version worked FINE but the silly tests were hard coded to a table %>